@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #000000;
    --color-secundario:#F6F6F6;
    --color-terciario:#22D4FD;
    --color-hover:#272727;
    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}

* {
    padding: 0;
    margin:0;
}

body{
    
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}
.header{
    padding: 2% 0% 0% 15%;
}


.header__menu{
    
    display: flex;
    gap: 80px;
    
}

.header__menu__link{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
    font-weight: 600;
    text-decoration: none;
    color: var(--color-terciario);

}
.header__menu__link:hover {
    color: #007bff;
}

.texto-destaque {
    color: var(--color-terciario); ;
}

.presentacion {
    padding: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5.125rem;
}
.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column; /*para que los hijos no queden en una linea*/
    gap: 40px; /*separacion entre filas*/
}
.presentacion__contenido__titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}
.presentacion__contenido__parrafo{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

.presentacion__imagen{
    width: 50%;
}
.presentacion__botones{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.presentacion__botones__subtitulo{
    font-size: 1.5rem;
    font-family: var(--fuente-krona);
    font-weight: 400;
}

.presentacion__botones__link{
    width: 50%;
    
    text-align: center;
    padding: 21.5px 0px;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 16px;
}
.presentacion__botones__link:hover{
    background-color: var(--color-hover);
    cursor: pointer;
}
.footer{
    background-color: var(--color-terciario);
    color: var(--color-primario);
    padding: 24px;
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px ){
    .header{
        padding: 5%;
        
    }
    .header__menu{
        justify-content: space-evenly;
        
    }
    .header__menu__link{
        font-size: 2rem;
    }
    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .presentacion__contenido{
        width: auto;
    }
    .presentacion__imagen{
        width: auto;
    }
    .presentacion__botones__link{
        width: 100%;
    }
}
@media (max-width: 540px) {
    .header {
        padding: 5%;
    }
    .header__menu {
        flex-direction: column;
        gap: 20px;
    }
    .header__menu__link {
        font-size: 1.5rem;
    }
    .presentacion {
        flex-direction: column-reverse;
        padding: 5%;
        gap: 20px;
    }
    .presentacion__contenido {
        width: 100%;
    }
    .presentacion__imagen {
        width: 100%;
    }
    .presentacion__botones {
        flex-direction: column;
        gap: 16px;
    }
    .presentacion__botones__link {
        width: 100%;
        padding: 16px 0;
    }
}
